/* General Changes */
.subHead {
  background-color: #b3e0ff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px 0 50px 0;
  height: auto;
}
.subHead h1 {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 40px 0 10px;
  font-weight: 900; color: #fff;
}
.hero h1 span {
  color: #a1a9b0;
  display: inline-block;
}

/* Adjusts Padding in FAQ */
.fixpad {
  padding: 25px 0px 25px 0px;
}

/* Apply Payment Design */
.lg-line{
	line-height: 1.4;
	font-size: 28px;
}
.more-features-box-text-icon {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: #80ccff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.more-features-box-text-description h3{
    padding-bottom: 15px;
}
.more-features-box-text-icon i {
    font-size: 18px;
    line-height: 26px;
}
.more-features-box-text-description{
	margin-left: 80px;
	margin-bottom: 35px;
}
.sec-para{
	padding-bottom: 10px;
}

/* FAQ */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 5px solid white;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 12px;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/* Sponsors Tables */
table {
    margin: 0px auto;
    width: 100%;
}
td {
    background-color: #e6f5ff;
    border-radius: 24px;
    width: 25%;
    padding: 10px;
    border: 10px solid #f9f9f9;
}
.emptySquare {
    background-color: #f9f9f9;
    font-size: 250%;
}
/* Sponsor Logo Images */
img.logogallery {
    width: 125px;
}

/* Footer Adjust */
.footerLeft {
   width:60%;
   color: white;
	 font-size: 14px;
	 line-height: 1.1em;
   float: left;
}
.footerRight {
   width:30%;
   color: white;
	 font-size: 14px;
	 line-height: 1.1em;
   float: right;
}
ul {
  list-style-type: none;
}

/* Apply Cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 350px;
    float: left;
    margin: 0 10px;
    text-align: center;
    visibility: visible;
}
.cardimg {
    width:75%;
    height: 50%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardholder {
    padding: 2px 16px;
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 0%;
    height: 350px;
    float: left;
    margin: 0 10px;
    padding: 10px;
    font-size: 14px;
    visibility: hidden;
}
