h1 {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    5px 5px 10px black; 
  color: #F2F2F2;
}

.content {
  text-align: center;
}
h2 {
  text-align: center;
  color: white;
}
a {
  color: white;
}

.left {
  float: left;
  width: 40%;
  padding: 0 5%;
}
.right {
  float: right;
  width: 40%;
  padding: 0 5%;
  
}